.container {
  padding-right: 12px;
  z-index: 1;
}

.dots {
  display: flex;
  flex-direction: column;
  row-gap: 3px;
  width: 32px;
  height: 32px;
  align-items: center;
  justify-content: center;
  background-color: #171C18;
  transition: background-color .3s linear;
  border-radius: 6px;

  &:hover {
    background-color: #275F4A;
  }

  &:active {
    background-color: #596B47;
  }

  > span {
    width: 4px;
    height: 4px;
    display: inline-block;
    background: #fff;
    border-radius: 50%;
  }
}

.header {
  padding: 0;
}

.body {
  z-index: 1;
  border-radius: 12px;
  background-color: #23342c;
}

.option {
  font-family: 'Proxima Nova', sans-serif;
  height: auto;
  padding: 0;
}