.master {
  display: flex;
  overflow-x: clip;
  min-height: 100vh;
  min-width: 100vw;
  max-width: 100vw;
	background-color: var(--website-bg);
  font-family: 'Proxima Nova', sans-serif;
	font-style: normal;
  font-weight: 500;

  & * {
    box-sizing: border-box;
  }
}

.webmentoring {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
  margin-top: var(--webmentoring-margin-top);
  margin-left: var(--webmentoring-margin-left);
  padding: 0px 32px 69px 32px;
  color: #fff;
}